footer {
    width: 68%;
    background-color: rgb(238, 169, 78);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    z-index: 0;
}

footer>p {    
    margin-bottom: 0;
    font-size: 1.2em;
}

.user-mealplans-footer {
    width: 84%;
}