.card {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
}

.card-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 20px;
}

.icon-1 {
    background-image: url(../images/cherries-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-2 {
    background-image: url(../images/cupcake-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-3 {
    background-image: url(../images/lemon-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}