.card {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-square-img {
    width: 64px;
    height: 64px;    
}

.icon-1 {
    background-image: url(../images/controls.png);
}

.icon-2 {
    background-image: url(../images/refresh.png);
}

.icon-3 {
    background-image: url(../images/floppy-disk.png);
}