.home-nav {    
    background-color: #a6c591;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-radius:7px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
}

.home-nav ul {
    display: flex;
    margin-bottom: 0;
}

.home-nav li {
    list-style: none;
}

.home-nav a.brand {
    padding-left: 0px;
}

.home-nav a.brand img {
    height: 80px;
}

.home-nav a {
    color: white;
    font-size: larger;
    padding-left: 20px;
}

nav a:hover {
    text-decoration: none;
    color: #777;
}