.home-nav {    
    background-color: #a6c591;
    /* background-color: #bfa691; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 10px;
    border-radius:7px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);
}

.home-nav ul {
    display: flex;
    margin-bottom: 0;
}

.home-nav li {
    list-style: none;
}

.home-nav a {
    padding-left: 20px;
    color: white;
    font-size: larger;
}

nav a.brand {
    font-size: 1.5em
}

nav a:hover {
    text-decoration: none;
    color: #777;
}