.home-main-container {
    padding: 30px 16% 0 16%;
    height: 100%;
    min-height: 100vh;
    background-image:url(../images/pexels-elle-hughes-1660030.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}