.main-nav {
    width: 100%;
    margin-bottom: 30px;
    background-color: #a6c591;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-radius:7px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 12%);

    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
}

.main-nav ul {
    display: flex;
    margin-bottom: 0;
}

.main-nav li {
    list-style: none;
}

.main-nav a.brand {
    padding-left: 0px;
}

.main-nav a.brand img {
    height: 80px;
}

.main-nav a {
    color: white;
    font-size: larger;
    padding-left: 20px;
}

nav a:hover {
    text-decoration: none;
    color: #777;
}