.recipe-content {
    height: 100%;
    min-height: 100vh;
    width: 55%;
    padding: 20px;
}

.recipe-img {
    padding: 12px 20px 20px 0;
}

.recipe-top-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ingredients-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
}

.ingredients-grid strong {
    text-transform: capitalize;
}

.method-step {
    margin-left: 20px;
}
