.auth-sidebar {
    height: 100vh;
    width: 35%;    
}

.signup-sidebar {
    background-image: url(../images/pexels-nuruddin-bharmal-3547176.jpg);

    /* background-position-x: center;
    background-position-y: center; */
    background-position: center center;

    background-repeat: no-repeat;
    background-size: cover;

    /* Si queremos que quede fija respecto al scroll: */
    /* background-attachment: fixed; */
}

.content {
    height: 100vh;
    width: 70%;
}

p > a {
    margin-left: 10px;
}

input.text-input {
    width: 100%;
    height: 40px;
    background-color: #f3f3f4;
    color: #0d0c22;
    padding: 10px 16px;
    margin-right: 8px;
    border: 3px solid transparent;
    border-radius: 8px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;    
    transition: all 200ms ease;    
}

input.text-input:hover {
    background-color: white;
    border: 3px solid rgb(251, 206, 214);
}

.form-btn {
    background: #9fd871;
    color: white;
    padding: 10px 16px;
    border: none;    
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    transition: all 200ms ease;
}

.form-btn:hover {
    opacity: 0.5;
}

.auth-nav { 
    width: 100%;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0;
    padding: 30px 30px 0;
}

.main {
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-content {
    margin-right: 100px;
    margin-bottom: 100px;
    height: 100%;
    padding: 30px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}
.auth-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 30px;
}
.form-field-group {
    display: flex;
    justify-content: space-between;
}
.form-field {
    width: 100%;
}

button, h2 {
    margin: 10px 30px;
}

.section {
    display: block;
}